<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.gatech.nutrack"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
         android:theme="@style/CustomActionBarTheme" >
         <!-- <activity
            android:name="edu.gatech.nutrack.NutritionixActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>-->
        
         <activity
            android:name="edu.gatech.nutrack.Login"
            android:label="@string/app_name"
            android:noHistory="true" 
    android:configChanges="orientation" android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
         <activity
            android:name="edu.gatech.nutrack.NutritionixActivity"
            android:label="@string/app_name"
            android:noHistory="true" 
             android:configChanges="orientation" android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="edu.gatech.nutrack.SignUp"
            android:label="@string/title_activity_sign_up"
            android:noHistory="true"
             android:configChanges="orientation" android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="edu.gatech.nutrack.Home"
            android:label="@string/title_activity_home"
            android:noHistory="true"
             android:configChanges="orientation" android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="edu.gatech.nutrack.Track"
            android:label="@string/title_activity_track"
            android:noHistory="true"
             android:configChanges="orientation" android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="edu.gatech.nutrack.Scan"
            android:label="@string/title_activity_scan" 
            android:noHistory="true"
             android:configChanges="orientation" android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="edu.gatech.nutrack.Reco"
            android:label="@string/title_activity_reco"
            android:noHistory="true"
             android:configChanges="orientation" android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="edu.gatech.nutrack.Sync"
            android:label="@string/title_activity_sync"
            android:noHistory="true" 
             android:configChanges="orientation" android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="edu.gatech.nutrack.HomePhysician"
            android:label="@string/title_activity_home_physician" 
            android:noHistory="true"
             android:configChanges="orientation" android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="edu.gatech.nutrack.ViewPatient"
            android:label="@string/title_activity_view_patient" 
            android:noHistory="true"
             android:configChanges="orientation" android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="edu.gatech.nutrack.EnterSuggestion"
            android:label="@string/title_activity_enter_suggestion"
            android:noHistory="true"
             android:configChanges="orientation" android:screenOrientation="portrait" >
        </activity>
        
        
    </application>

</manifest>
